<html>
<head>
    <title>SQR Menu</title>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="title" content="SQR Menu" />
    <meta name="description" content="SQR Menu" />
    <meta name="keywords" content="SQR Menu">

    <link rel="stylesheet" href="./assets/fonts/Avenir/avenir.css" type="text/css">
    <link rel="stylesheet" href="./assets/plugins/bootstrap/css/bootstrap.min.css" type="text/css">

<% _.each(htmlWebpackPlugin.files.css, function(file){ %>
        <link href="<%= file %>" rel="stylesheet"></link>
    <% }); %>

    <script src="./assets/javascript/setup.js"></script>

</head>
<body>
<div class="root" id='root'></div>
<% _.each(htmlWebpackPlugin.files.js, function(file){ %>
    <script type="text/javascript"  src="<%= file %>"></script>
<% }); %>
<!-- Вставить обязательно -->
<script src="./assets/plugins/jquery/jquery-3.2.0.min.js"></script>
<script src="./assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="./assets/plugins/simple-scrollspy.min.js"></script>
<script src="./assets/plugins/swiped-events.min.js"></script>
<script src="./assets/javascript/script.js"></script>

<!-- /Вставить обязательно -->
</body>
</html>


